body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
/* Gerais */
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #20A4F3;
}


/* Navegação */
nav {
    width: 100%;
    height: 100px;
    margin-top: -20px;
    float: left;
    
  
    background: #011627; 
}
#itens-nav {
    float: right;
    margin-right: 25px;
}
nav #logo {
    line-height: 70px;
    margin-left: 50px;
    float: left;
}
#logo h1 {
    color: #FF3366;
    letter-spacing: 0.5em;
}
nav #itens-nav {
    
    
}
#itens-nav li {
    padding: 10px;
    font-size: 1.2em;
    display: inline-block;
    line-height: 60px;
    
    
}
#itens-nav li span {
    border-left: 1px solid #F6F7F8 ;
}
#itens-nav li a {
    color: #F6F7F8;
}
#itens-nav li a:hover {
     color: #20A4F3;
    
}
.button {
    border: 2px solid #F6F7F8;
    border-radius: 17px;
    padding: 5px;
}
.button:hover {
    border: 2px solid  #20A4F3;
}

#nav ul {
    float: right;   
}
.checkbtn {
    font-size: 1.7em;
    color: #F6F7F8;
    cursor: pointer;
    align-content: center;
    margin-right: 40px;
    float: right;
    display: none;
    line-height: 110px;
}
#check {
    display: none;
}
.btn {
    width: 10%;
    margin: 0;
}
/* capa */
.capa {
    background-image: url(../img/img-capa.jpg);
    background-size: cover;
    border: 1px solid #F6F7F8;
    height: 500px;
    box-shadow: 2px 1px 1px #F6F7F8;

}
.caption {
    line-height: 500px;
    text-align: center;
    letter-spacing: 1em;
    color: #FF3366;
    font-weight: bolder;
    text-shadow: 3px 3px 1px #011627;
    
}  
/* Artigos */
article{
    background-color: #FF3366;
    padding: 10px 0;
}
.article {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.sub-titulo {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
    color: #20A4F3;
}
.sub-titulo h1 {
    font-size: 2em;
}
.barrinha {
    width: 70px;
    height: 3px;
    border-radius: 25px;
    background-color: #011627;
    margin: 10px auto;  
}

.article >div {
    width: 350px;
    margin: 10px 25px;
    text-align: center;
    background-color: #F6F7F8;
    box-shadow: 1px 1px 4px #011627;
    padding: 5px;
}
.article h3 {
    color: #20A4F3;
}
/* Sobre */
 .sobre {
    display: flex;
    width: 100%;
    background-color: #e9eaec;
    padding: 0;
}
.sobre-img { 
    
    width: 50%;
    border-right: 1px solid #e9eaec;
}
.sobre-text {
    width: 50%;
    text-align: center;
    padding: 10px;
}
.sobre-text h1 {
    color: #20A4F3;
    font-size: 2em;
}
.sobre-text p{
    font-size: 1.2em;
}
/* rodape */
.rodape {
    background-color: #011627;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
    
}
.h-txt {
    color: #FF3366;
    font-size: 1.2em;
}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 744px){
   
    .sobre-img { 
        display: none;
    }
    .sobre-text {
        width: 100%;
    }   
    .rodape> div {
        width: 100%;
        margin-left: 20px;
    }
    #itens-nav li span {
        display: none;
    }
    
    .checkbtn {
        display: block;
    }
    #itens-nav {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background: #011627;
        top: 60px;
        top: -200%;
        transition: all .5s;
        text-align: center;
    }
    #itens-nav li {
        display: block;
    }
    #check:checked~ul {
        top: 60px;
    }
}